* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
    font-family: fantasy;
    margin: 1em;
    padding: 0;
    font-size: 1.2em;
}

.container {
    display: flex;
}

#wrapper {
    width: 100%;
}

.hourly-idea-am,
.hourly-idea-pm {
    display: none;
}


/*PAGE NAV*/

ul .hourly-idea-am,
.hourly-idea-pm {
    text-decoration: none;
}

#page-nav ul {
    display: none;
}

#page-nav:before,
#page-nav:after {
    display: block;
}

#page-nav {
    padding: 1em;
    background-color: yellow;
}

#page-nav #lo-hi {
    display: flex;
    align-content: center;
    justify-content: space-around;
    list-style-type: none;
    color: white;
}

#high-low {
    display: flex;
    flex-wrap: wrap-reverse;
}

.container,
.container2 {
    display: flex;
    flex-flow: row;
    position: relative;
    z-index: 50;
}

.text {
    display: flex;
    justify-content: center;
    content: "Menu";
}

#page-search {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}


/* WEATHER*/

.margin-right {
    margin-right: 2em;
}

#summary,
.summary {
    display: flex;
    justify-content: center;
    list-style: none;
}

.image-left {
    margin-right: 2em;
}

.summary img {
    width: 20%;
    height: 20%;
}

.image-right {
    margin-left: 2em;
}

#hi-lo {
    list-style: none;
    margin: 0;
    padding: 0;
}

.image {
    display: flex;
    justify-content: center;
    margin-right: 2em;
    margin-left: 2em;
}

#pic1,
#pic2,
#pic3 {
    height: 300px;
    width: auto;
}


/* TABLET */

@media screen and (min-width: 767px) {
    .hourly-idea-am,
    .hourly-idea-pm {
        justify-content: center;
        display: inline-block;
    }
}


/* BROWSER */

@media screen and (min-width: 1024) {
    .hourly-idea-am,
    .hourly-idea-pm {
        justify-content: center;
        display: inline-block;
    }
}
