* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
    font-family: fantasy;
    margin: 1em;
    padding: 0;
    font-size: 15px;
}

#wrapper {
    width: 100%;
}

#page-search {
    display: flex;
    justify-content: center;
}

.text {
    display: flex;
    justify-content: center;
}

#img {
    padding: 1em;
}

#page-nav #lo-hi {
    display: flex;
    align-content: center;
    justify-content: space-between;
    list-style-type: none;
    color: white;
}

#hi-lo {
    list-style: none;
    margin: 0;
    padding: 0;
}


/*
#hi-lo {
    display: flex;
    display: inline-block;
    align-content: space-around;
    list-style-type: none;
    width: 15%;
    font-family: monospace, monospace;
}*/

#hi-lo>li {
    display: inline-block;
    width: 25%;
    /* Browser rounding errors force this down */
    text-align: center;
    vertical-align: top;
}

#hi-lo #conditions {
    width: 50%;
    /* Browser rounding errors force this down */
}
