* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
    font-family: fantasy;
    margin: 1em;
    padding: 0;
    font-size: 15px;
}

#wrapper {
    width: 100%;
}

#page-search {
    display: flex;
    justify-content: center;
}

#page-nav ul {
    display: none;
}

#page-nav:before {
    content: "Menu";
    display: block;
}

.text {
    display: flex;
    justify-content: center;
}

#img {
    padding: 1em;
}

#page-nav #lo-hi {
    display: flex;
    align-content: center;
    justify-content: space-between;
    list-style-type: none;
    color: white;
}

#hi-lo {
    list-style: none;
    margin: 0;
    padding: 0;
}

#hi-lo>li {
    display: inline-block;
    width: 24%;
    Browser rounding errors force this down text-align: center;
    vertical-align: top;
}

#hi-lo #conditions {
    width: 49%;
    Browser rounding errors force this down
}

ul #hourly-temps {
    text-decoration: none;
}

#pic1 {
    height: 30px;
    width: auto;
}

main ul:nth-of-type(2) {
    border: 1px solid #000;
    list-style: none;
    margin: 0;
    padding: 0;
}

main ul:nth-of-type(2) li {
    width: 32%;
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    padding: .05em;
}

@media handheld and (max-width: 320px) {
    {}
    /* styles go here */
}

@media handheld and (max-width: 1024px) {
    /* styles go here */
}
