* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: aqua;
    font-family: fantasy;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

#wrapper {
    width: 100%;
}

#page-search {
    display: flex;
    justify-content: center;
}

.text {
    display: flex;
    justify-content: center;
}

#img {
    padding: 2em;
}

#page-nav #lo-hi {
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    list-style-type: none;
}

#hi-lo {
    display: flex;
    display: inline-block;
    align-content: space-around;
    list-style-type: none;
    width: 75%;
    font-family: monospace, monospace;
}

#hi-lo>li {
    display: inline-block;
    width: 25%;
}
