*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: aqua;
    margin: 0;
    padding: 0;
}

#wrapper {
    background-color: #fff;
    width: 100%;
}

#hourly-temps {
    display: flex;
    text-decoration: none;
}
