header{ font-family:monospace ,sans-serif;
padding: 0em;
background-color: aqua;
}

p{
color:aqua;
}

h1{
color:white;
}

h2{
color:white;
}

body{
background-image: url(/Images/2016_pagani_huayra_bc_13_2560x1440.jpg);
}
