header{ font-family:monospace ,sans-serif;
padding: 0em;
background-color: aqua;
}

p{
color:aqua;
}

h1,h2{
color:white;
}



body{
    background-image: url(/Images/sharks_alt_ice_wallpaper_by_devinflack-d3bqu72.png);}
