header{ font-family:monospace ,sans-serif;
padding: 0em;
background-color: aqua;
}

p{
color:aqua;
}

h1,h2{
color:white;
}
img {
    max-width: 150px;
}

a:hover {
    background-color: rgb(255, 214, 255);
}

body{
    background-image: url(/Images/avatar.jpg);}
