/**************************************/


/**********MOBILE SCREEN***************/


/**************************************/

#wrapper { max-width: 100%;
    background-color: white;

    }

#body {
    background-image: url(/acme/images/site/background.jpg);

    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style-type: none;
}
#logo { display: flex;
    justify-content: center;
}

#home {background-image: url(/acme/images/site/feature.jpg);
    background-repeat: no-repeat;
     }



#duh{margin-top: 4em}


h1 {
    padding: .5em;
    color: black;
    background-color: white;
}

#content h1 {
    padding:.75em;
    color: black;
    background-color: white;
}

nav {
    max-width: 100%;}

nav li,
#page-footer li {
    display: flex;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    background-color: #de2226;

}

nav .flexlist ul {
    border: 1px solid #000;
    border-bottom: 1px solid #fff;
    list-style: none;
}

nav li {
    display: flex;
    align-content: flex-start;
    padding-left: 10em;
    padding-right: 10em;
    padding: 1em;
    font-size: .75em;
}

nav a {
    background-color: #de2226;
    color: #fff;
    padding: 5% 5%;
    text-decoration: none;
}

nav a:hover {
    background-color: #fff;
    color: #000;
    border-bottom: 3px solid #fff;
}

#rocket ul li{
    list-style-type: none;
}

.styling{
    display:flex;
    flex-wrap: wrap;
max-width: 80%;
}

.flexlist {
    display: flex;
    align-content: space-around;
    align-content: center;

}
#page-footer {
    display: flex;
    justify-content: center;
    background-color: #de2226;
}
.recipes {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 33%;
}

.styling
ul li {
    display: flex;

    list-style-type: none;


    font-size: 1em;
}
.styling li {list-style-type: none;}
.recipes li {list-style-type: none;}
#description {
    display: flex;
}
.ratings {

    position: right;

}

#price {
    display: flex;
    font-size: 1.8em;
    color: #de2226;



}


/*











*/
/**************************************/

/***********TABLET SCREEN**************/

/**************************************/
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }


    nav {
        font-size: 1.3em;
    }


    #rocket>ul {
        margin-left: 55%;
    }


    #things {
        flex-flow: row;
    }


}
/**************************************/

/************BROWSER*******************/

/**************************************/



@media screen and (min-width: 70em) {
    body { background-size: 2000px 1500px;
        font-size: 1.3em;
    }
    .recipes{display:inline-block;}

    #wrapper {
        background-color: white;
        margin-left: 15%;
        margin-right: 15%;
    }


}

/*



h1>img {
width: 8em;
}



.nav {
list-style: none;
display: flex;
justify-content: center;
margin: 0;
padding-bottom: 1.5%;
padding-top: 1.5%;
font-size: 1.1em;
background-color: #de2226;
}
.nav>li {
flex: 1 1 auto;
text-align: center;
}
.nav>li>a {
padding: .4em;
color: #ffffff;
text-decoration: none;
}
.nav>li>a:hover {
background-color: #808080;
}
.nav-home {
margin-left: -2em;
}




h1 {
margin: 0;
display: flex;
font-size: 2.5em;
}



#rocket {
background-image: url('../images/site/feature.jpg');
background-size: 100% 100%;
height: 15em;
width: 100%;
}
#rocket>ul {
color: #990033;
list-style: none;
margin-left: 38%;
display: flex;
flex-flow: column;
}
.rocket-head{
font-size: 200%;
}
#want {
width: 10em;
}





#things {
display: flex;
flex-flow: column;
flex: 1 1 auto;
}


#recipes>ul {
margin: 0;
padding: 0;
display: flex;
list-style: none;
font-size: .7em;
}
#recipes>ul>li {
flex: 1 1 auto;
padding: .3em;
}


#reviews>ul {
display: flex;
flex-flow: column;
font-size: .8em;
}








#name {
font-size: 3em;
}


#pic-summary {
display: flex;
list-style: none;
margin: 0;
padding: 0;
}
#pic-summary>li {
flex: 1 1 auto;
}
#anv-img {
width: 15em;
height: 15em;
padding-right: .5em;
}


h4 {
margin: 0;
padding-right: .4em;
margin-top: -.28em;
font-size: 1.5em;
}
#price {
display: flex;
font-size: 1.8em;
color: #de2226;
}
#stars {
display: flex;
}
#made {
display: flex;
}





#footer-line {
background-color: #000000;
padding: .1em;
margin-top: 4em;
}
#footer {
font-size: .7em;
}




@media screen and (min-width: 35em) {
body {
font-size: 1em;
}


.nav {
font-size: 1.3em;
}


#rocket>ul {
margin-left: 55%;
}


#things {
flex-flow: row;
}


}



@media screen and (min-width: 70em) {
body {
font-size: 1.3em;
}



.nav {
font-size: 1.4em;
margin-bottom: -1%;
}


#rocket {
height: 20em;
}
#rocket>ul {
margin-left: 65%;
font-size: 1.2em;
}
#want {
width: 100%;
}

#things {
font-size: 1.2em;
}


}
*/
