/**************************************/
/**********MOBILE SCREEN***************/
/**************************************/
#body{
    background-image: url(/acme/images/site/background.jpg);
    background-repeat: no-repeat;
    image-orientation: stretch;
    font-family: 'Raleway', sans-serif;
    color:white;
    text-decoration: none;
    list-style-type: none;

}
#nav li, #page-footer li {
    display: flex;

    align-content: inline;
    text-decoration: none;
    flex: 1;
    align-items: center;
    background-color: #de2226;


}


/**FOOTER**/
#page-footer{
    display: flex;
    justify-content: center;
    background-color: #de2226;
}

.flexlist{
    display: flex;
    align-content: space-around;
    align-content: center;}

/**************************************/
/***********TABLET SCREEN**************/
/**************************************/

@media screen and (min-width: 767px) {
    .content {
        max-width: 767px;
    }

    #home{
        display: none;


    }




}

/**************************************/
/************BROWSER*******************/
/**************************************/
@media screen and (min-width: 1024) {
    #home{
        display: none;


    }


}
